<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>IntuneMusicBot</title>
</head>

<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">
            <img src="https://cdn.worldvectorlogo.com/logos/soundcloud-icon-1.svg" width="60" height="60" class="d-inline-block align-top" alt="">
        </a>
        <a class="navbar-brand" style="color: orange">IntuneMusicBot</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/FindArtist">Artisti</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/FindTrack">Canzoni</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/FindPlaylist">Playlist</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">TopTen</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/TopTenArtist">Artisti</a>
                        <a class="dropdown-item" href="/TopTenTrack">Canzoni</a>
                        <a class="dropdown-item" href="/TopTenAlbum">Album</a>

                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <h3 style="padding-top:30px;text-align:center;width: 100%;  border-bottom: 2px solid orange; line-height: 0.1em;margin: 10px 0 20px;"><span class="bg-light" style=" padding:0 10px; ">TOP TEN CANZONI</span></h3>
    <div class="container-fluid" style="padding-top:20px;">
        <% topten.forEach(function(track){ %>
            <h3 style="width: 100%;  border-bottom: 1px solid #000; line-height: 0.1em;margin: 10px 0 20px;"><span class="bg-light" style=" padding:0 10px; "><%=track.position%></span></h3>
            <div class="container-fluid">
                <div class="row align-items-start">
                    <div class="col-sm-3" style="padding-top:10px;padding-bottom:10px;">
                        <img src="<%=track.album.cover_xl%>" class="img-fluid" alt="Responsive image" style="max-height: 330px;border-image:2px;border-radius: 50%;">
                    </div>
                    <div class="col-sm-6" style="padding-top:50px;">
                        <div class="container-fluid">

                            <div class=" row align-items-start">
                                <div class="col">
                                    <h1 style="font-size:30px;font-weight: bold; color:black">
                                        <%=track.title %>,
                                            <span style="color:orange;"><%=track.artist.name%></span>
                                    </h1>
                                </div>
                            </div>
                            <hr style="border-color: orange;">
                            <div class=" row ">
                                <div class="col" style="padding-top:30px; ">
                                    <audio controls style="max-height:35px;border-style: solid;border-color: rgb(0, 0, 0);border-radius: 4px;">
                                    
                                        <source src="<%=track.preview%>" type="audio/mp3">
                                    </audio>
                                </div>
                            </div>
                            <hr style="border-color: orange;">

                            <div class=" row ">
                                <div class="col" style="padding-top:40px;">
                                    <h3 style="font-size: 15px;font-weight: bold;color:white;">
                                        <a href=" <%= track.link %>" style="color:black;border-style:solid;border-radius: 4px;border-color: rgb(255, 145, 0);padding:10px;font-size:20px;color:rgb(255, 145, 0);">Link Deezer        
                                        </a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <br>
            <% }); %>
    </div>
</body>

</html>